// "off" or 0 - turn the rule off
// "warn" or 1 - turn the rule on as a warning(doesn’ t affect exit code)
// "error" or 2 - turn the rule on as an error(exit code is 1 when triggered)
{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
    },
  "plugins": [
    "react",
    "react-native",
    "react-perf",
    "security",
    "jsx-a11y",
    "prettier"
  ],
  "ecmaFeatures": {
    "jsx": true
  },
  "extends": [
     "eslint:recommended",
     "plugin:react/recommended",
     "plugin:react-native/all",
     "plugin:react-perf/recommended",
     "plugin:security/recommended",
     "plugin:jsx-a11y/recommended",
     "airbnb",
     "airbnb/hooks",
     "prettier",
     "prettier/react"
     //"plugin:react-redux/recommended"
    ],
  "rules": {
    "react/no-did-mount-set-state": 2,
    "react/no-direct-mutation-state": 2,
    "react/jsx-uses-vars": 2,
    "no-undef": 2,
    "semi": 2,
    "react/prop-types": 2,
    "react/jsx-no-bind": 2,
    "react/jsx-no-duplicate-props": 2,
    "react/no-multi-comp": 2,
    "react/forbid-prop-types": 2,
    "react/prefer-es6-class": 2,
    "react/prefer-stateless-function": 2,
    "react/jsx-pascal-case": 2,
    "react/jsx-closing-bracket-location": 2,
    "react/jsx-closing-tag-location": 2,
    "jsx-quotes": 2,
    "no-multi-spaces": 2,
    "react/jsx-tag-spacing": 2,
    "react/jsx-curly-spacing": 2,
    "react/jsx-boolean-value": 2,
    "react/no-array-index-key": 2,
    "react/no-string-refs": 2,
    "react/jsx-wrap-multilines": 2,
    "react/self-closing-comp": 2,   
    "react/require-render-return": 2,   
    "react/no-is-mounted": 2,
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 2,
    "react-native/no-inline-styles": 2,
    "react-native/no-color-literals": 0,
    "react-native/no-raw-text": 2,
    "react-native/no-single-element-style-arrays": 2,
    "react/destructuring-assignment": 2,
    "react/no-did-update-set-state":2,
    "no-alert":2,
    "react-native/sort-styles":1,
    "react/sort-comp":1

  },
  "globals": {
    "GLOBAL": false,
    "it": false,
    "expect": false,
    "describe": false
   }
}